*{
  margin: 0;
  padding: 0;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
}

#conatiner{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.navbar{
  display: flex;
  gap: 50px;
}

.navbar .logo{
  height: 50px;
  width: 50px;
}

.navbar ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.navbar ul li{
  list-style: none;
  font-size: 20px;
  font-weight: 500;
}

#conatiner .btn{
  font-size: 25px;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

#leftside{
 margin-top: 75px;
 margin-left: 100px;
}

#leftside .left-top{
  display: flex;
  gap: 20px;
}

#leftside .left-top h1{
  font-size: 45px;
  font-weight: 200;
}

#leftside .left-top h5{
  font-size: 15px;
  font-weight: 200;
}

#leftside .bigText {
  margin-top: 50px;
  font-weight: 200;
  font-size: 200px;
}

#leftside .smallText{
  font-weight: 200;
  font-size: 15px;
}

#bottom{
  margin-top: 100px;
  margin-left: 100px;
}

#bottom .bottom-btn{
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
}

#rightside{
  height: 500px;
  width: 500px;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  background-color: red;
  overflow: hidden;
}

#rightside img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}